.form-control {
  font-family: 'Roboto', sans-serif;
  color: #333;
  //font-size: 1.2rem;
  //margin: 0 auto;
  margin-top: 15px;
  padding: 6px 24px;
  //border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  //width: 90%;
  display: block;
  //border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
  box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.myButton:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.myButton:active {
	position:relative;
	top:1px;
}

nav a {
  background-color: #fca311;
  color: white;
  width: 98%;
  display: flex;
  justify-content: space-around;
  padding: 0px;
  margin:20px;
  //border: 3px solid black;
  border-radius: 0px; 
  font-size: 35px;
}

.card-body{
  background-color: #e5e5e5;
  width:100%;
  display: flex;
  justify-content: space-around;
  padding: 0px;
  margin:20px;
  //border: 3px solid black;
  border-radius: 0px; 
  font-size: 35px;
  text-align: left;
}
.text-center{
  background-color: white;
  //border: 3px solid black;
  margin:20px;
}
/*
.form-row a{
  font-size: 35px;
  color: black;
  text-decoration: none;
}
.form-row a:hover{
  color: purple;
  text-decoration: underline;
}*/
.text-danger{
  color:red;
  font-size: 20px;
}

